import React from 'react';
import styles from './{{pascalCase name}}.module.scss';
import type { {{pascalCase name}}Props } from './{{pascalCase name}}.types';

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => {
  return <div className={styles.root}>{{pascalCase name}}</div>;
};

export default {{pascalCase name}};
